<!-- Footer -->
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Pengcab Taekwondo Bogor</h5>
        <p>Pengurus Cabang Taekwondo Indonesia Kota Bogor, Provinsi Jawa Barat.</p>
        <div class="d-flex mt-3">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Link Penting</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Beranda</a></li>
          <li><a href="/about" class="text-white">Tentang Kami</a></li>
          <li><a href="/events" class="text-white">Event & Kegiatan</a></li>
          <li><a href="/contact" class="text-white">Hubungi Kami</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Kontak</h5>
        <address>
          <p><i class="fas fa-map-marker-alt me-2"></i> Gedung Taekwondo, Jl. Example No. 123, Bogor, Jawa Barat</p>
          <p><i class="fas fa-phone me-2"></i> (021) 1234-5678</p>
          <p><i class="fas fa-envelope me-2"></i> info@taekwondobogor.id</p>
        </address>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; <%= new Date().getFullYear() %> Pengcab Taekwondo Bogor. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html> 